@if (message) {
<div class="toast"
     [ngClass]="{
         'success': messageType === 'success',
         'error': messageType === 'error'
       }">
  {{ message }}
</div>
}
<section class="admin-header">
  <h2>Gestion des hébergements</h2>

  <button class="primary" (click)="openCreate()">
    ➕ Ajouter un hébergement
  </button>
</section>
@if(loading){
<p class="loading">Chargement des hébergements...</p>
}
@if(!loading && !isFormVisible){
<section class="grid">

  @for (acc of accommodations; track acc.id) {
  <div class="card">
    @if(acc.imageUrl){
    <img src="{{acc.imageUrl}}" alt="{{acc.name}}" />
    }@else{
    <img src="assets/hebergement.jpg" alt="{{acc.name}}" />
    }
    <div class="card-content">
      <h3>{{ acc.name }}</h3>
      <p>{{ acc.type }} – {{ acc.distance }}</p>
      <p class="address">{{ acc.address }}</p>
    </div>

    <div class="actions">
      <a href="{{acc.googleMapsUrl}}" target="_blank">📍 Carte</a>

      <button (click)="openEdit(acc)">✏️ Modifier</button>
      <button class="danger" (click)="remove(acc.id!)">🗑 Supprimer</button>
    </div>

  </div>
  }
</section>
}
@if(isFormVisible){
<section class="form-container">

  <h3>
    {{ isEditMode ? 'Modifier un hébergement' : 'Ajouter un hébergement' }}
  </h3>

  <form (ngSubmit)="submit()" class="form">

    <input type="text"
           placeholder="Nom de l'hébergement"
           [(ngModel)]="model.name"
           name="name" required />

    <select [(ngModel)]="model.type" name="type" required>
      <option value="" disabled>Type</option>
      <option>Hôtel</option>
      <option>Airbnb</option>
      <option>Gîte</option>
      <option>Chambre d’hôtes</option>
    </select>

    <input type="text"
           placeholder="Adresse"
           [(ngModel)]="model.address"
           name="address" required />

    <input type="text"
           placeholder="Distance"
           [(ngModel)]="model.distance"
           name="distance" />

    <input type="url"
           placeholder="Google Maps"
           [(ngModel)]="model.googleMapsUrl"
           name="googleMapsUrl" required />

    <input type="url"
           placeholder="Lien réservation"
           [(ngModel)]="model.bookingUrl"
           name="bookingUrl" />

    <input type="url"
           placeholder="Image"
           [(ngModel)]="model.imageUrl"
           name="imageUrl" />

    <label>
      <input type="checkbox"
             [(ngModel)]="model.active"
             name="active" />
      Visible sur le site
    </label>

    <div class="form-actions">
      <button type="submit" class="primary">
        {{ isEditMode ? 'Mettre à jour' : 'Créer' }}
      </button>

      <button type="button" (click)="cancel()">Annuler</button>
    </div>

  </form>

</section>
}
